* {
    padding: 0px;
    margin: 0px;
}

.blink-it-navbar {
    border-bottom: 1px solid rgb(238, 238, 238);
    position: sticky;
    top: 0px;
    height: 86px;
    background-color: white;
    box-sizing: border-box;
    z-index: 1000;
}

.vertical-line {
    border-left: 1px solid rgb(238, 238, 238);
    height: 100%;
}

.location>h5 {
    cursor: pointer;
}

.location>p {
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}

.search-bar {
    background-color: #f8f8f8;
    border-radius: 8px;
    border: 1px solid rgb(238, 238, 238);
    padding: 10px;
    width: 40vw;
    cursor: pointer;
}

.search-bar>input {
    border: none;
    width: 95%;
    background-color: transparent;
    font-size: 14px;
    color: rgb(153, 153, 153);
}

.search-bar>input:focus {
    outline: none;
}

.login-icon {
    display: none !important;
}

.my-scrollable-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    overflow-x: auto;
    width: 85vw;
}

.list {
    width: 100%;
    margin-inline: auto ;
    white-space: nowrap;
}

.list>div {
    display: inline-block;
    margin: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.my-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85vw;
    margin-inline: auto;
}

.my-category-div {
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    margin-top: 30px;
}

.m-c-d-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m-c-d-h-head {
    color: rgb(28, 28, 28);
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
}

.m-c-d-h-para {
    line-height: 32px;
    font-size: 25px;
    color: rgb(12, 131, 31);
    cursor: pointer;
}

.my-category-scroll {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    overflow-x: auto;
    width: 85vw;
}

.my-category-row {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 30px;
}

.my-card {
    width: 190px;
    box-sizing: border-box;
    margin-inline: 10px;
    border: 0.5px solid rgb(232, 232, 232);
    box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
    border-radius: 8px;
    margin-top: -30px;
    cursor: pointer;
}

.my-card-2 {
    cursor: pointer;
    margin-top: 0px;
}

.offer {
    position: relative;
    background-color: #538cee;
    width: 23px;
    height: 30px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 9px;
    text-align: center;
    margin-bottom: 0px;
    /* z-index: 200; */
    margin-inline: 25px;
}

.time-taken {
    font-size: 9px;
    font-weight: 700;
    color: rgb(54, 54, 54);
    width: fit-content;
    padding: 1px 3px;
}

.p-name{
    height: 36px;
    margin-bottom: 5px;
}

.product-name {
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0px;
}

.product-weight {
    color: #666666;
    font-size: 13px;
    margin-bottom: 0px;
}

.product-price {
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0px;
}

.product-strike-price {
    color: rgb(130, 130, 130);
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 0px;
}

.product-btn {
    border: 2px solid rgb(49, 134, 22);;
    color: rgb(49, 134, 22);
    border-radius: 6px;
    background-color: rgb(247, 255, 249);
    width: 66px;
    font-weight: 700;
    padding: 5px 10px;
}

.my-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    width: 85vw;
}

.row-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 70px;
    margin-bottom: 40px;
}

.row-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-bottom: 40px;
}

.row-2-col-1 {
    width: 30vw;
}

.row-2-col-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-2-col-2>button {
    width: 100px;
    height: 30px;
    color: white;
    border-radius: 6px;
    border: none;
    background-color: #213b50;
    margin-inline: 5px;
}

.row-2-col-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.D-P-btn {
    padding-bottom: 4px;
}

.row-2-col-3>a {
    border-radius: 50%;
    background-color:  #213b50;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 5px;
}

.row-3 {
    color: #666666;
    font-size: 16px;
    padding: 10px;
    text-align: justify;
}

td {
    padding: 7px 20px;
    color: #666666;
    font-size: 16px;
    cursor: pointer;
}

.table-1 {
    flex: 2;
}

.table-2 {
    flex:3;
}

@media screen and (max-width:376px) {
    
    .blink-it-navbar {
        width: auto;
    }

    .logo, .vertical-line, .login {
        display: none;
    }

    .location>h5 {
        font-size: 15px;
    }

    .location {
        width: 90px;
    }

    .location>p {
        font-size: 10px;
    }

    .search-bar {
        display: flex;
        align-items: center;
        margin-left: 0px;
    }

    .search-bar>i {
        padding-right: 7px;
    }

    .login-icon {
        display: inline !important;
        margin-bottom: 0px;
        padding-top: 15px;
    }

    .login-icon>p {
        font-size: 30px;
    }

    .mycart-button {
        display: none !important;
    }

    .m-c-d-h-head {
        width: 150px;
        font-size: 22px;
    }

    .m-c-d-h-para {
        font-size: 20px;
    }

    .row-1 {
        margin-top: 30px;
    }

    .row-2 {
        margin-bottom: 5px;
    }

    .row-2-col-1 {
        width: auto;
        text-align: justify;
    }

    .row-2-col-2 {
        margin-inline: auto;
    }

    .row-2-col-2>div {
        margin-inline: 0px !important;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .row-2-col-3 {
        width: auto;
        margin-inline: auto;
    }

}

@media screen and (min-width: 377px)
and (max-width: 600px) {
    
       
    .blink-it-navbar {
        width: auto;
    }

    .logo, .vertical-line, .login {
        display: none;
    }

    .location>h5 {
        font-size: 15px;
    }

    .location {
        width: 90px;
    }

    .location>p {
        font-size: 10px;
    }

    .search-bar {
        display: flex;
        align-items: center;
        margin-left: 0px;
    }

    .search-bar>i {
        padding-right: 7px;
    }

    .login-icon {
        display: inline !important;
        margin-bottom: 0px;
        padding-top: 15px;
    }

    .login-icon>p {
        font-size: 30px;
    }

    .mycart-button {
        display: none !important;
    }

    .m-c-d-h-head {
        width: 150px;
        font-size: 22px;
    }

    .m-c-d-h-para {
        font-size: 20px;
    }

    .row-1 {
        margin-top: 30px;
    }

    .row-2 {
        margin-bottom: 5px;
    }

    .row-2-col-1 {
        width: auto;
        text-align: justify;
    }

    .row-2-col-2 {
        margin-inline: auto;
    }

    .row-2-col-2>div {
        margin-inline: 0px !important;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .row-2-col-3 {
        width: auto;
        margin-inline: auto;
    }
    
}

@media screen and (max-width: 280px) {

    .table-1 {
        width: 270px;
    }
    .table-2 {
        width: 270px;
    }

    .my-hero-section>img {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .my-hero-section>img {
        width: 350px;
        height: 250px
    }
}

@media screen and (min-width: 401px)
and (max-width: 500px) {

    .my-hero-section>img {
        width: 390px;
        height: 160px
    }

}

@media screen and (min-width: 500px)
and (max-width: 600px) {

    .my-hero-section>img {
        width: 450px;
        height: 200px
    }
    
}

@media screen and (min-width: 601px)
and (max-width: 750px) {

    .location>h5 {
        font-size: 15px;
    }

    .location {
        width: auto;
    }

    .location>p {
        font-size: 10px;
    }

    .search-bar {
        display: flex;
        align-items: center;
        margin-left: 0px;
    }

    .search-bar>i {
        padding-right: 7px;
    }

    .mycart-button {
        width: auto;
        height: auto;
        font-size: 13px !important;
    }


    .my-hero-section>img {
        width: 580px;
        height: 280px
    }

    .row-1 {
        margin-top: 30px;
    }

    .row-2 {
        margin-bottom: 5px;
    }

    .row-2-col-1 {
        width: auto;
        text-align: justify;
    }

    .row-2-col-2 {
        margin-inline: auto;
    }

    .row-2-col-2>div {
        margin-inline: 0px !important;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .row-2-col-3 {
        width: auto;
        margin-inline: auto;
    }

}

@media screen and (min-width: 751px)
and (max-width: 900px) {

    .location>h5 {
        font-size: 15px;
    }

    .location {
        width: auto;
    }

    .location>p {
        font-size: 10px;
    }

    .search-bar {
        display: flex;
        align-items: center;
        margin-left: 0px;
    }

    .search-bar>i {
        padding-right: 7px;
    }

    .mycart-button {
        width: auto;
        height: auto;
        font-size: 14px !important;
    }

    .my-hero-section>img {
        width: 720px;
        height: 300px
    }

}

@media screen and (min-width: 901px) 
and (max-width: 1100px) {

    .location>h5 {
        font-size: 15px;
    }

    .location {
        width: auto;
    }

    .location>p {
        font-size: 10px;
    }

    .search-bar {
        display: flex;
        align-items: center;
        margin-left: 0px;
    }

    .search-bar>i {
        padding-right: 7px;
    }

    .mycart-button {
        width: auto;
        height: auto;
        font-size: 13px !important;
    }

    .my-hero-section>img {
        width: 870px;
        height: 350px
    }

}

@media screen and (min-width: 1101px) 
and (max-width: 1240px) {

    .my-hero-section>img {
        width: 1000px;
        height: 350px
    }

}

@media screen and (min-width: 600px) 
and (max-width: 1072px) {

    
}